[submodule "core-firmware"]
	path = core-firmware
	url = https://github.com/spark/core-firmware.git
  ignore = dirty
[submodule "core-common-lib"]
	path = core-common-lib
	url = https://github.com/spark/core-common-lib.git
[submodule "core-communication-lib"]
	path = core-communication-lib
	url = https://github.com/spark/core-communication-lib.git
